div.card {
    border: none;
    margin: 0 8px 16px;
}

.card-tamanho {
    width: 270px;
    height: 270px;
    min-width: 270px;
    min-height: 270px;
    overflow: hidden;
    border: 1px solid #ccc;
    margin: 10px;
    float: left;
}

.titulo {
    font-weight: bold;
    font-size: 30px;
    text-align: center;
    margin-bottom: 30px;
}

.callout {
    color: #555;
    background: #eee;
    padding: 1em;
    border-left: 1em solid #ccc;
    clear: both;
}

.card .govbr-card-content {
    -ms-flex-align: center;
    align-items: center;
    background: #f8f8f8;
    bottom: 0;
    -webkit-box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    color: #000;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    left: 0;
    margin: 0 8px 16px;
    padding: 12px;
    position: absolute;
    right: 0;
    top: 0;
}

.card .govbr-card-content .front {
    text-align: center;
}

.govbr-cards .wrapper {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
}

.card .govbr-card-content .front .titulo {
    color: #0c326f;
    display: block;
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    margin: 0;
    min-height: 0;
}

.card .govbr-card-content .front .icone {
    color: #0c326f;
    font-size: 50px;
}