:root {
    --swiper-theme-color: #007aff;
}

.portaltype-collective-cover-content {
    width: 100%;
    margin: 0 auto;
    padding-right: 16px;
    padding-left: 16px;
    max-width: 100%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

@media only screen and (min-width: 375px) {

    .portaltype-collective-cover-content .tile-default.row.linha-destacada,
    .portaltype-collective-cover-content .tile-default.row.linha-discreta,
    .portaltype-collective-cover-content .tile-default.row.linha-destacada-transparente,
    .portaltype-collective-cover-content .tile-default.row.linha-destacada-escura {
        margin-bottom: 16px;
        padding-bottom: 8px;
        padding-top: 24px
    }
}

@media only screen and (min-width: 576px) {

    .portaltype-collective-cover-content .tile-default.row.linha-destacada,
    .portaltype-collective-cover-content .tile-default.row.linha-discreta,
    .portaltype-collective-cover-content .tile-default.row.linha-destacada-transparente,
    .portaltype-collective-cover-content .tile-default.row.linha-destacada-escura {
        margin-bottom: 20px;
        padding-bottom: 12px;
        padding-top: 32px
    }
}

@media only screen and (min-width: 768px) {

    .portaltype-collective-cover-content .tile-default.row.linha-destacada,
    .portaltype-collective-cover-content .tile-default.row.linha-discreta,
    .portaltype-collective-cover-content .tile-default.row.linha-destacada-transparente,
    .portaltype-collective-cover-content .tile-default.row.linha-destacada-escura {
        margin-bottom: 20px;
        padding-bottom: 12px;
        padding-top: 32px
    }
}

@media only screen and (min-width: 1024px) {

    .portaltype-collective-cover-content {
        padding-right: 40px;
        padding-left: 40px
    }
}

@media only screen and (min-width: 1280px) {
    .portaltype-collective-cover-content {
        width: 1152px;
        padding-right: 0;
        padding-left: 0;

        margin-bottom: 24px;
        padding-bottom: 16px;
        padding-top: 40px
    }
}

@media only screen and (min-width: 1440px) {

    .portaltype-collective-cover-content .tile-default.row.linha-destacada,
    .portaltype-collective-cover-content .tile-default.row.linha-discreta,
    .portaltype-collective-cover-content .tile-default.row.linha-destacada-transparente,
    .portaltype-collective-cover-content .tile-default.row.linha-destacada-escura {
        margin-bottom: 36px;
        padding-bottom: 20px;
        padding-top: 56px
    }
}

.portaltype-collective-cover-content .tile-default {
    padding-bottom: 16px;
    width: 100%;
    color: black;
}

.portaltype-collective-cover-content .tile-default h2 {
    text-align: center;
    color: black;
}

.callout {
    background: #000;
    color: #fff !important;
    background: #eee;
    padding: 1em;
    border-left: 1em solid #ccc;
    clear: both;
    margin-bottom: 20px;
}

.tile-default {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center
}