.margem {
    margin: 10px;
}

.botao-cep {
    margin-top: 32px;
    width: 60px;
    background-color: #28a745;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 8px 16px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.botao-cep:hover {
    background-color: #218838;
}